.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftSide,
.rightSide {
  display: inline-block;
  vertical-align: top;
  /*margin: 0 auto;*/
}

.leftSide {
  max-width: 680px;
  display: inline-block;
}
.rightSide {
  width: 100%;
}

.makeCenter {
  margin: 0 auto;
}

.messageSubmit-button,
.verificationMessage {
  display: inline-block;
}

.verificationMessage {
  margin: 0 0 0 1em;
}

.verificationMessage:nth-child(2) {
  margin: 0 0 0 1em;
}

.createNote textarea {
  width: 100%;
  min-width: 510px;
  height: 800px;
}

.topRow {
  display: block;
}

.pure-button-primary.logout-button,
.pure-button-primary.deleteNote-button {
  margin: 10px 0 0 1em;
}

.pure-button-primary.toggleRed-button {
  background: red;
}

.pure-button-primary.deleteNote-button {
  background: red;
}

.subnotes-list {
  padding: 0;
}

.subnotes-list li {
  display: inline-block;
  margin-right: 10px;
}

.backToParent {
  margin-left: 30px;
}

.menu-link.loggedIn {
  background: rgba(31, 141, 214, 0.5);
}

/**********allnotes*************/
.allnotes {
  list-style: none;
}
.allnotes li a {
  color: black;
}
.allnotes li:nth-of-type(2n) a {
  background: #e0e0e0;
}
.allnotes li a:hover {
  background-color: #333;
  color: white;
}

@media (min-width: 48em) {
  .noteContent {
    display: flex;
    justify-content: center;
  }
  .leftSide {
    min-width: 250px;
  }
  .rightSide {
    min-width: 250px;
    width: 680px;
    padding: 0 20px 0 20px;
  }
}
